body{
    font-family: Arial, sans-serif;
    background: #e0e0e0;
    color: #333;
    padding: 20px;

}
.tabs {
  max-width: 600px;
  margin: 40px auto;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-btn {
  flex: 1;
  padding: 12px;
  background: #f5f5f5;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 7px;
  transition: background 0.3s;
}

.tab-btn.active {
  background: #111;
  color: #fff;
}

.tab-content {
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.hidden {
  display: none;
}